.opening-time
  padding: rem(85px) 0
  &__wrap
    position: relative
    display: grid
    grid-template-columns: 1fr 1fr
    border: 2px solid $accent
    border-radius: 0 0 rem(200px) 0
    +md-block
      grid-template-columns: 1fr
      gap: rem(85px) 0
      border: 0
  &__content
    max-width: rem(485px)
    padding: rem(60px) 0 rem(60px) rem(45px)
    +lg-block
      padding-right: rem(15px)
    +md-block
      max-width: none
      padding: 0
  &__title
    margin-bottom: rem(40px)
    color: $accent
  &__image
    position: absolute
    top: -120px
    bottom: -2px
    right: -2px
    +md-block
      position: static
      bottom: auto
      right: auto
    img
      display: block
      height: 100%
      border-radius: rem(200px) 0 rem(200px) 0
      object-fit: cover
      +md-block
        width: 100%
  &__bottom
    margin-top: rem(60px)
    text-align: center