.full-with-image
  display: block
  margin: 0
  padding: 1px 0
  background-color: $white
  +sm-block
    padding: 0 15px
  img
    display: block
    width: 100%
    border-radius: 0 rem(200px) 0 rem(200px)
    +sm-block
      height: rem(573px)
      object-fit: cover