.btn
  display: inline-block
  vertical-align: middle
  min-width: rem(250px)
  padding: rem(15px) rem(15px) rem(12px)
  font-family: $main-font
  font-size: rem(18px)
  font-weight: 500
  color: #fff
  text-align: center
  background-color: $accent
  border: 0
  border-radius: rem(50px)
  outline: none
  text-decoration: none
  cursor: pointer
  user-select: none
  transition: all .25s ease
  text-transform: uppercase
  &:hover
    background-color: $light-blue
    color: #fff
  &:focus, &:active
    background-color: $lighten-blue
    color: #fff
    outline: none
  &--lighten
    background-color: $lighten-blue
    &:hover
      background-color: $light-blue
    &:focus, &:active
      background-color: $accent
  &--light
    background-color: $light-blue
    &:hover
      background-color: $lighten-blue
    &:focus, &:active
      background-color: $accent
  &[disabled]
    background-color: #e5e5e5
    cursor: not-allowed
    color: #fff

.btn-round
  display: flex
  align-items: center
  justify-content: center
  width: rem(50px)
  height: rem(50px)
  border-radius: 50%
  background-color: $accent
  +trans
  &:hover, &:focus
    background-color: $light-blue
  svg
    font-size: rem(20px)
    fill: $white

.btn-stroke
  display: inline-block
  vertical-align: middle
  padding: rem(4px) rem(10px)
  border: 1px solid $light-blue
  border-radius: rem(50px)
  font-size: rem(21px)
  color: $light-blue
  line-height: 1
  +trans
  &:hover
    color: $lighten-blue
    border-color: $lighten-blue
  &:active, &:focus
    color: $accent
    border-color: $accent
  &--white
    color: $white
    border-color: $white
    &:hover
      color: $light-blue
      border-color: $light-blue