.form-group
  position: relative
  margin-bottom: rem(40px)
  &--last
    margin-top: rem(60px)
    margin-bottom: 0

.form-row
  display: grid
  grid-template-columns: 1fr 1fr
  gap: rem(40px) rem(70px)
  align-items: center
  margin-bottom: rem(30px)
  +sm-block
    grid-template-columns: 1fr
    gap: rem(30px) 0
  .form-group
    margin: 0
  &--last
    margin-top: rem(60px)
    margin-bottom: 0
    +sm-block
      gap: rem(70px) 0
      margin-top: rem(50px)

.form-field,
.stripe-field,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
input[type="date"],
select,
textarea
  width: 100%
  height: rem(70px)
  padding: 0 rem(20px)
  border: 0
  border-radius: rem(10px)
  background: $white
  box-shadow: none
  appearance: none
  font-size: rem(21px)
  &::placeholder
    color: #C8CBCD
  &:focus
    outline: none
    border-color: $accent

textarea
  display: block
  height: rem(90px)
  padding-top: rem(20px)
  padding-bottom: rem(20px)
  resize: vertical

.stripe-field
  padding-top: rem(23px)
  padding-bottom: rem(22px)

.form-label
  @extend h4
  display: inline-block
  margin-bottom: rem(15px)
  cursor: pointer

.wpcf7-not-valid-tip
  margin-top: rem(5px)
  font-size: rem(14px)

.wpcf7-list-item
  margin-left: rem(25px)
  margin-bottom: rem(10px)
  +sm-block
    display: block
    margin-left: 0
  &:last-child
    margin-bottom: 0
  input[type="checkbox"],
  input[type="radio"]
    @extend .visually-hidden
    &:checked ~ span::after
      opacity: 1
  span
    position: relative
    display: block
    padding-left: rem(35px)
    color: $accent
    &::before
      content: ''
      position: absolute
      top: rem(3px)
      left: 0
      width: rem(20px)
      height: rem(20px)
      border: 2px solid $accent
      cursor: pointer
    &::after
      content: ''
      position: absolute
      top: rem(8px)
      left: rem(4px)
      width: rem(12px)
      height: rem(12px)
      background: url(images/general/check.svg) no-repeat center / contain
      opacity: 0
      +trans
      cursor: pointer
    a
      color: $accent
      border-bottom: 1px solid $accent
      &:hover
        color: $light-blue

.wpcf7-radio
  .wpcf7-list-item
    span
      &::before
        content: ''
        position: absolute
        top: 50%
        left: 0
        margin-top: -14px
        width: 28px
        height: 28px
        border-radius: 50%
        //background-color: $lighten-blue
        cursor: pointer
      &::after
        content: ''
        position: absolute
        top: 50%
        left: 8px
        width: 12px
        height: 12px
        margin-top: -6px
        border-radius: 50%
        background: $light-blue
        opacity: 0
        +trans
        cursor: pointer

.wpcf7
  .ajax-loader
    display: none

.wpcf7-form-control-wrap
  display: block

.wpcf7-acceptance
  display: block
  margin-bottom: rem(5px)

.wpcf7-field-groups
  margin-bottom: rem(40px)

.wpcf7-field-group
  display: flex
  align-items: center
  margin-bottom: rem(20px)
  &:last-child
    margin-bottom: 0
  & > .form-group,
  .form-row
    flex-grow: 1
    margin-bottom: 0
    margin-right: rem(10px)

.wpcf7-field-group-remove,
.wpcf7-field-group-add
  display: flex
  align-items: center
  justify-content: center
  flex-shrink: 0
  width: rem(30px)
  height: rem(30px)
  padding: 0
  border: 1px solid $accent
  border-radius: 0 rem(5px) 0 rem(5px)
  font-size: rem(36px)
  font-weight: 500
  color: $accent
  +trans
  &:hover
    border-color: $light-blue
    color: $light-blue

.wpcf7-field-group-remove
  margin-right: rem(10px)

.wpcf7-field-group-add
  background-color: $accent
  font-size: rem(21px)
  color: $white
  border: 0
  &:hover
    background-color: $light-blue
    color: $white

.circle-check
  input[type="checkbox"]
    @extend .visually-hidden
    &:checked ~ span::after
      opacity: 1
  &--white
    .circle-check__box
      color: $white
      &::before
        border: 1px solid $white
      &::after
        background-color: $white
  &__box
    position: relative
    padding-left: rem(45px)
    cursor: pointer
    &::before
      content: ''
      position: absolute
      top: 50%
      left: 0
      margin-top: -14px
      width: 28px
      height: 28px
      border-radius: 50%
      background-color: $lighten-blue
      cursor: pointer
    &::after
      content: ''
      position: absolute
      top: 50%
      left: 8px
      width: 12px
      height: 12px
      margin-top: -6px
      border-radius: 50%
      background-color: $light-blue
      opacity: 0
      +trans
      cursor: pointer

.check
  display: block
  cursor: pointer
  &__input
    @extend .visually-hidden
    &:checked ~ span::after
      opacity: 1
  &__box
    position: relative
    padding-left: rem(55px)
    &::before
      content: ''
      position: absolute
      top: rem(5px)
      left: 0
      width: rem(23px)
      height: rem(23px)
      border: 1px solid $main-color
      border-radius: rem(5px)
    &::after
      content: ''
      position: absolute
      top: rem(11px)
      left: rem(5px)
      width: rem(12px)
      height: rem(12px)
      background: url(images/general/check.svg) no-repeat center / contain
      opacity: 0
      +trans

.select-price
  @extend h4
  color: $accent