.hero-v2
  position: relative
  z-index: 1
  display: flex
  align-items: flex-end
  min-height: rem(570px)
  padding: rem(150px) 0
  background:
    repeat: no-repeat
    position: center
    size: cover
  border-radius: 0 rem(200px) 0 0
  overflow: hidden
  +sm-block
    min-height: rem(700px)
    padding: rem(110px) 0
  &::before
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: -1
    background-color: rgba(#000, 0.2)
  &__title
    margin: 0
    color: $white