.checkout-form-box
  padding: rem(55px) rem(70px)
  background-color: $geyser
  border-radius: rem(50px)
  +lg-block
    padding: rem(55px) rem(30px)
  +sm-block
    padding: rem(85px) rem(15px) rem(90px)
  .form-group
    +sm-block
      margin-bottom: rem(30px)
    input[type="number"]
      appearance: none
      -moz-appearance: textfield
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button
        appearance: none
        margin: 0
    &--last
      margin-top: 0
      +sm-block
        margin-bottom: 0
  .btn
    +sm-block
      width: 100%